@charset "UTF-8";

@font-face {
    font-family: 'android';
    src: url('/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

    /*GLOBAL CONFIG*/

    :root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'android', sans-serif;
    }

    *{
        margin: 0em;
        padding: 0em;
    }

    body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    }

    p{
        margin: 15px 0px;
    }

    a.externo::after{
        content: '\1f517';
    }

    /*  HEADER CONFIG*/

    header {
        background-image: linear-gradient( to bottom, var(--cor3), var(--cor5));
        text-align: center;
        min-height: 150px;
        padding-top: 40px;
        border-radius: 1em;
    }
   
    header>h1 {
    color: rgba(255, 255, 255, 0.836);
    font: normal 3em var(--fonte-destaque) ;
    margin-bottom: 0.6em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336);
    }

    header > p {
        color: rgba(255, 255, 255, 0.658);
        max-width: 500px;
        margin: auto; 
        font: 1.2em var(--fonte-padrao);
        padding: 0px 10px 0px 10px;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.322);
    }


    /* NAV CONFIG*/
    nav{
        background-color: var(--cor5);
        padding: 10px;
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.212);
    }

    nav a{
        color: rgba(255, 255, 255, 0.61);
        text-decoration: none;
        padding: 10px;
        font-weight: bold;
        border-radius: 5px;
        transition-duration: 0.5s;
    }
    nav a:hover{
        background-color: var(--cor3);
        color: var(--cor5);
    }

    /*MAIN CONFIG*/

    main{

        min-width: 300px;
        max-width: 1000px;
        margin: auto;
        margin-bottom: 30px;
        padding: 20px;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);
        border-radius: 0px 0px 10px 10px; 
    }

    main h1 {
    color: var(--cor5);
    font: normal 1.8em var(--fonte-android);
    }

    main h2 {
    font: normal 1.3em var(--fonte-android);
    color: var(--cor4);
    text-indent: 8px;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    }

    main p{
        margin: 15px 0px;
        text-align: justify;
        text-indent: 10px;
        font-size: 1.01em;
        line-height: 2em;
    }

    main strong{
        color: var(--cor4);
        font-weight: bold;
        padding: 2px 6;
        
    }

    main a{
        text-decoration: none;
        font-weight: bold;
        color: var(--cor5);
        background-color: var(--cor1);
        padding: 2px 6px;
    }

    main a:hover{
        text-decoration: underline;
        color: var(--cor4);
    }

    main img{
        width: 100%;
    }   

    main img.pequena{
        max-width: 350px;
        display: block;
        margin: auto;
    }

    div.video{
        position: relative;
        background-color: var(--cor4);
        height: 0px;
        margin: 0px -20px 15px -20px;
        padding-bottom: 59%;
    }

    div.video > iframe{
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
        border-radius: 10px;
        box-shadow: 0px 0px 1em 0.1em rgba(0, 0, 0, 0.342);
    }

    /*ASIDE CONFIG*/
    aside{
        background-color: var(--cor3);
        padding: 10px;
        border-radius: 10px ;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.452);
    }

    aside  h3{
        background-color: var(--cor4);
        color: white;
        padding: 10px;
        margin: -10px -10px 0px -10px;
        border-radius: 10px 10px 0px 0px;

    }

    aside  ul{
        list-style-type: '\2714\00a0\00a0';
        list-style-position: inside;
        columns: 2;
    }

    /*FOOTER CONFIG*/

    footer{
        background-color: var(--cor5);
        color: white;
        text-align: center;
        font-size: 0.8em;
        padding: 5px;
    }

    footer a{
        color: white;
        font-weight: bolder;
        text-decoration: none;
    }

    footer a:hover{
        text-decoration: underline;
        color: var(--cor1);
    }
